@media screen and (max-width: 900px) {
  body {
    font-family: "Noto Sans KR", sans-serif;
    background: no-repeat center/100% url("png/background_mobile.png");
    background-color: black;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-image {
    width: 350px;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .title {
    margin-top: 0px;
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }

  .title span {
    font-weight: 700;
  }

  .white-line {
    margin: 30px 0px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    display: block !important;
    width: 100% !important;
  }

  .subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }

  .subtitle span {
    color: #88cff2;
    font-weight: 700;
  }

  .white-button {
    margin: 20px 0px;
    width: 136px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 0px 30px #00ffee;
  }

  .altogether {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }

  .white-button div {
    color: black;
    font-size: 16px;
    margin-bottom: 0px;
  }

  .box-info {
    border: 1px solid rgb(255, 255, 255, 0.4);
    border-radius: 10px;
    display: block !important;
    width: 260px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-info_info {
    text-align: center;
    line-height: 10px;
  }

  .box-info_info h2 {
    font-size: 16px;
    font-weight: 700;
  }

  .box-info_info p {
    font-size: 16px;
    font-weight: 300;
  }

  .info-card {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }

  .blue-line {
    margin: 30px 0px;
    border: 1px solid #04ffe1;
    display: block !important;
    width: 100% !important;
  }

  .course {
    display: flex;
    flex-direction: column;
  }

  .metaverse {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #18ff5d;
    font-size: 16px;
    font-weight: 700;
  }

  .metaverse div,
  .machine-learning div {
    border: 1px solid rgb(255, 255, 255, 0.4);
    padding: 16px;
    border-radius: 10px;
    margin: 24px 0px;
  }

  .metaverse table,
  .machine-learning table {
    text-align: left;
    font-size: 14px;
    color: white;
    font-weight: 300;
    width: 100%;
  }
  tr,
  td {
    padding: 0px 10px;
  }

  button {
    padding: 10px;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    font-weight: 700;
  }

  button:hover {
    font-weight: 700;
    box-shadow: 0px 0px 40px #00ffee;
  }

  .end {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .contact {
    width: 100%;
    background-color: white;
  }

  .contact div {
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 14px;
    font-weight: 700;
  }
}
